*, html {
  font-family: 'Prompt';
  font-size: 14px;
}
html, body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.dp-flex {
  display: flex;
}
.jtf-ct-sp-ar {
  justify-content: space-around;
}
.jtf-ct-center {
  justify-content: center;
}
.al-i-center {
  align-items: center;
}
.flex-20 {
  flex: 20%;
}
.flex-25 {
  flex: 25%;
}
.flex-38 {
  flex: 38%;
}
.flex-40 {
  flex: 40%;
}
.flex-50 {
  flex: 50%;
}
.flex-60 {
  flex: 60%;
}
.flex-62 {
  flex: 62%;
}
.flex-75 {
  flex: 75%;
}
.flex-80 {
  flex: 80%;
}
.mag-l-40 {
  margin-left: 40px;
}
.mag-t-40 {
  margin-top: 40px;
}
.mag-t-20 {
  margin-top: 20px;
}
.mag-t-60 {
  margin-top: 60px;
}
.mag-b-40 {
  margin-bottom: 40px;
}
.mag-t-80 {
  margin-top: 80px;
}

.bg-ct {
  border-radius: 20px;
  border: 4px solid #039BE5;
  background-color: #424242;
}
.bg-chart {
  padding: 5px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.pad-chart {
  padding: 20px 40px 40px 40px;
}
.pie-chiart-1 {
  margin-right: 80px;
}
div .title-chart {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #039BE5;
}
.title-chart span {
  font-size: 22px;
  text-transform: uppercase;
}
.title-chart p {
  font-size: 22px;
}
.select-device {
  display: flex;
  justify-content: space-between;
}
.y-scroll {
  overflow-y: auto;
}
.contain {
  margin-top: 100px;
  height: 100%;
}
